:root.dark {
    --fk-color-help: white;
    --fk-color-input: white;
    --fk-color-submit: var(--color-gray-900);
    --fk-bg-submit: white;
    --fk-color-border-focus: white;
}

html.dark .formkit-message {
    color: white;
}

html.light .formkit-input[type=submit] {
    background-color: var(--color-gray-900);
    color: white;
    font-weight: 700;
}

#__nuxt .formkit-input {
    font-family: var(--typography-font-display);
}

html.light .blockquote-success {
    color: #059669;
    border-left-color: #059669;
}

html.dark .blockquote-success {
    color: #00dc82;
    border-left-color: #00dc82;
}

html.light .blockquote-error {
    color: #e10e00;
    border-left-color: #e10e00;
}

html.dark .blockquote-error {
    color: #ff4c40;
    border-left-color: #ff4c40;
}

#__nuxt article img {
    object-fit: contain!important;
}