@import 'vars/initial-variables'
@import '~bulma'
// Animations
.page-enter-active, .page-leave-active
  transition: opacity .5s

.page-enter, .page-leave-to
  opacity: 0

// Layout

.section
  padding: 1rem

// Links
a:focus-within
  background: none

// Helpers
.cursor-pointer
  cursor: pointer

// Typography
.is-underline
  text-decoration: underline

.has-text-italic
  font-style: italic

pre
  padding: 1.25rem 0rem
