@import 'vars/initial-variables'
@import '~bulma'
// Animations
.page-enter-active, .page-leave-active
  transition: opacity .5s

.page-enter, .page-leave-to
  opacity: 0

// Layout
html
  min-width: auto

.section
  padding: 1rem

// Links
a:focus-within
  background: none

// Helpers
.cursor-pointer
  cursor: pointer

// Typography

.is-underline
  text-decoration: underline

.has-text-italic
  font-style: italic

pre
  padding: 1.25rem 0rem

.media-content
  overflow: visible !important

h1, h2, h3, h4, h5, h6
  position: relative
  &.underlined:after
    content: ''
    width: 150px
    height: 3px
    background: rgb(80,191,148)
    background: linear-gradient(90deg, rgba(80,191,148,1) 32%, rgba(255,255,255,1) 100%)
    position: absolute
    bottom: 0px
    left: 0

// VueAgile styles
.agile
  .agile__nav-button
    background: transparent
    border: none
    color: #fff
    cursor: pointer
    font-size: 24px
    height: 100%
    position: absolute
    top: 0
    transition-duration: .3s
    width: 80px

    &--prev
      left: 0

    &--next
      right: 0

.title-black-block
  display: inline-block
  color: white!important
  padding-left: 0.5rem!important
  padding-right: 0.5rem!important
  background: #363636!important

// colors

.has-background-transparent
  background: transparent!important

// blog

.content.g-content
  a
    text-decoration: underline
  p
    margin-top: $size-normal
    margin-bottom: $size-normal
  h2, h3, h4, h5
    font-weight: bold
    text-align: left
  h3
    margin-top: $size-3
    font-size: $size-3
    line-height: 1.2
  h4
    margin-top: $size-large
    font-size: $size-5
  h5
    margin-top: $size-large
    font-size: $size-6
  pre
    padding: 0
    margin-top: $size-normal
    margin-bottom: $size-normal
  ul
    padding-left: 1rem
    margin-top: $size-normal
    margin-bottom: $size-normal
    li
      list-style-type: square
  blockquote
    & > *
      margin: 0
